.button {
  padding: 10px 20px;
  background-color:rgb(230, 167, 66);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.button:hover {
  background-color:rgb(213, 136, 12);
  transition: 0.3;
}
